@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to my library application</h1>
    <div class="lib-container">
        <div class="library-pic">
            <img src="images/photo-1481627834876-b7833e8f5570.jpg" class="lib-img" />
        </div>
    </div>
</div>
